#title{
    background-color: #FF4c68;
}
.navbar{
    padding:0 0 4.5rem;
}
.nav-item{
    padding: 0 18px;
}
.navbar-brand{
    color: white;
}
.nav-link{
    color: white;
}
.header-font{
    font-family: "montserrat";
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;
}
h3{
    font-family: "montserrat";
}
p{
    color: #8f8f8f;
}
.container-fluid{
    padding: 3% 15% 7%;
}
.title-image{
    transform: rotate(20deg);
    width: 60%;
    position: absolute;
    right: 30%;
}

/* navigation bar */
.navbar-brand{
    font-family: "ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

/* download-button */
.download-button{
    margin: 5% 3%;
}

/* feature-section */

#features{
    padding: 7% 15%;
    position: relative;
    background-color: #fff;
}
.feature-box{
    text-align: center;
    padding: 5%;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}

/* testimonials-section */

#testimonials{
   
    text-align: center;
    background-color:#ef8172;
    color: #fff;
}

.carousel-item{
    padding: 7% 15%;
}

h2{
    font-family: "montserrat";
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* press-section */

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px;
}


/* pricing section */

#pricing{
    padding: 100px;
    text-align: center;
}
.pricingg-column{
    padding: 3% 2%;
}

/* interesting-part */

@media(max-width: 995px){
    .header-font{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}

/* call-to-action-part */

#cta{
    background-color:#ff4c68 ;
    text-align: center;
    padding: 7% 15%;
}
.cta-heading{
    color: #fff;
    font-size: 3rem;
    line-height: 1.5;
}
.download-button-bottom{
    margin: 1% 2%;
}
#footer{
    text-align: center;
    padding: 7% 15%;
}
.footer-icon{
    margin: 2% .5%;
}